{{define "subject"}}Reset your Yatijapp password{{end}}

{{define "plainBody"}}
Hi {{.username}},

Here's your password reset token for Yatijapp:

token: {{.resetToken}}

To reset your password, submit this token along with your new password to the Yatijapp tui user password reset page.

Please note that this is a one-time use token and it will expire in 30 minutes.

If you have any questions or need assistance, feel free to reach out to us.

Best regards,
The Yatijapp Team
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message from Yatijapp</title>
  <style>
    body {
        font-family: Courier New, monospace;
        line-height: 1.6;
        color: #cdd6f4;
        background-color: #1e1e2e;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
    h1 {
        color: #ffff87;
        /*background-color: #5f5fff;*/
        /*padding: 5px;*/
        text-align: center;
        /*border-radius: 5px;*/
    }
    code, pre {
        background-color: #313244;
        color: #94e2d5;
        padding: 0.2em 0.4em;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Yatijapp: Reset password</h1>
    <p>Hi {{.username}},</p>
    <p>Here's your password reset token for Yatijapp:</p>
    <pre><code>
    token: {{.resetToken}}
    </code></pre>
    <p>To reset your password, submit this token along with your new password to the Yatijapp tui user password reset page.</p>
    <p>Please note that this is a one-time use token and it will expire in 30 minutes.</p>
    <p>If you have any questions or need assistance, feel free to reach out to us.</p>
    <p>Best regards,<br>The Yatijapp Team</p>
  </div>
</body>

</html>
{{end}}
